/* Universal */
html{
    scroll-behavior: smooth;
}
body{
    color: rgb(255, 255, 255);
    margin: 0px;
}
.judul{
    text-align: center;
    background-image: url(../gallery/Background/dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.logo_aorus{
    width: 300px;
    padding: 35px 0px 10px 0px;
}
a{
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover{
    text-shadow: 0px 0px 5px darkorange;
}
.navigation{
    padding: 20px;
    text-align: center;
    font-size: 20px;
    background-color:#333333;
}
.navhome{
    background-color: darkorange;    
}
.hovernav{
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.hovernav:hover{
    background-color: darkorange;
}
.isi{
    margin: 0px 200px;
    background-color: rgb(0, 0, 0, .8);
    padding: 40px 0px 100px 0px;
}
/* End Universal */

/* Background Video */
#videoBG {
    position:fixed;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG { 
        width:auto;
        height: 100%;
    }
}
/* End Background Video */

/* Zoom */
.zoom:hover{
    transition: 1ms;
    transform: scale(1.2); 
}
/* End Zoom */

/* Text */
h1{
    font-size: 45px;
    margin-bottom: -60px;
    text-align: center;
    color: rgb(255, 255, 255);
    animation:lightson .5s ease 3 forwards;
}
@keyframes lightson{
    0%{
        opacity:0;
        text-shadow: 0px 0px 0px rgb(255, 60, 0), 0px 0px 0px rgb(255, 60, 0), 0px 0px 0px rgb(255, 60, 0);
    }
    20%{
        opacity:0.5;
        text-shadow: 0px 0px 2.5px rgb(255, 60, 0), 0px 0px 5px rgb(255, 60, 0), 1px 1px 25px rgb(255, 60, 0);
    }
    40%{
        opacity:0;
        text-shadow: 0px 0px 1px rgb(255, 60, 0), 0px 0px 2px rgb(255, 60, 0), 0px 0px 10px rgb(255, 60, 0);
    }
    50%{
        opacity:1;
        text-shadow: 0px 0px 5px rgb(255, 60, 0), 0px 0px 10px rgb(255, 60, 0), 1px 1px 50px rgb(255, 60, 0);
    }
    100%{
        opacity:1;
        text-shadow: 0px 0px 5px rgb(255, 60, 0), 0px 0px 10px rgb(255, 60, 0), 1px 1px 50px rgb(255, 60, 0);
    }
}
@media(max-width: 1150px){
    h1{
        font-size: 45px;
        padding:10px;
        letter-spacing: 2px;
    }
}
@media(max-width: 789px){
    h1{
        font-size: 45px;
        letter-spacing: 2px;
    }
}
/* End Text */

/* Rainbow HR */
hr{
    margin: 0px 0px;   
}
hr.rainbowhr{
    border: 0;
    height: 7px;
    background: #ff0000;
    background: linear-gradient(
    -45deg, 
    #ff0000 0%,
    #ffff00 25%,
    #00ff00 50%,
    #00ffff 75%,
    #0000ff 100%);
}
/* End Rainbow HR */

.isi .itemopt2{
    float: right;
    background-color: rgb(255, 102, 0);
    padding: 10px;
    margin-top: -40px;
    border-radius: 0px 0px 0px 20px;
}
.isi .itemopt2 img{
    width: 50px;
    margin-left: 5px;
}

/* Gaming Gears */
.container{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 30px;
    justify-content:flex-start;
    row-gap: 50px;
    box-sizing:border-box;
    border: 3px solid rgba(255, 255, 255, 0.0);
}
.container .item{
    width: 300px;
    height: 376px;
    margin: 0px 24.3px;
    text-align: center;
    border: 3px solid darkorange;
    border-radius: 20px;
    overflow: hidden;
}
.container .item .itemopt{
    float: right;
    background-color: darkorange;
    border-radius: 0px 0px 0px 15px;
    margin: 0px 0px -100px 0px;
}
.container .item .itemopt img{
    width: 30px;
    padding: 7px;
    margin: 0px 0px -5px 0px;
    /* border: solid black; */
}
.container img{
    width: 250px;
}
.container .flextext{
    background-color: darkorange;
    margin-top: 20px;
    padding-bottom: 25px;
}
.container p{
    margin: 0px;
    font-size: 25px;
    color: black;
    padding: 13px;
}
.container2{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 30px;
    justify-content:center;
    row-gap: 50px;
    box-sizing:border-box;
    border: 3px solid rgba(255, 255, 255, 0.0);
}
.container2 .item{
    width: 300px;
    height: 376px;
    margin: 0px 24.3px;
    text-align: center;
    border: 3px solid darkorange;
    border-radius: 20px;
    overflow: hidden;
}
.container2 img{
    width: 250px;
}
.container2 .flextext{
    background-color: darkorange;
    margin-top: 20px;
    padding-bottom: 25px;
}
.container2 p{
    margin: 0px;
    font-size: 25px;
    color: black;
    padding: 13px;
}
/* End Gaming Gears */

/* Left Navigation Panel*/
.panelkiri{
    float: left;
    background-color: rgb(255, 102, 0);
    padding: 50px 12px 3836px 12px;
}
.panelkirijeda{
    padding: 11px 0px;
}
/* Left Navigation Panel*/

/* Back To Top */
#backtotop{
    display: none;
    position: fixed;
    bottom: 50px;
    right: 250px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    scroll-behavior: smooth;
}
#backtotop:hover{
    background-color: #555;
}
/* End Back To Top */

/* Footer */
footer{
    margin-bottom: 0px;
    padding: 25px;
    font-size: 20px;
    background-color:#333333;
}
.containerfooter{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 520px;
    justify-content:space-around;
    box-sizing:border-box;
    border: 3px solid rgb(0, 0, 0, .0);
}
.containerfooter p{
    box-sizing: border-box;
    margin: 0px 0px 15px 20px;
    font-size: 25px;
}
.containerfooter a{
    font-size: 19px;
}
.itemfooter1{
    width: 100px;
    height: auto;
    text-align: center;
    border: 3px solid rgb(0, 0, 0, .0);
}
.itemfooter2{
    width: 160px;
    height: auto;
    text-align: left;
    border: 3px solid rgb(0, 0, 0, .0);
}
.itemfooter3{
    width: 174px;
    height: auto;
    text-align: left;
    border: 3px solid rgb(0, 0, 0, .0);
}
.itemfooter4{
    width: 215px;
    height: auto;
    text-align: left;
    border: 3px solid rgb(0, 0, 0, .0);
}
.containerfooter p{
    width: 100px;
    height: auto;
    text-align: left;
}
.containersocmed{
    display: flex;
    margin: -10px 500px 0px 500px;
    justify-content: center;
}
.containersocmed img{
    width: 30px;
}
/* End Footer */
