/* Universal */
html{
    scroll-behavior: smooth;
}
body{
    color: rgb(255, 255, 255);
    margin: 0px;
}
.judul{
    text-align: center;
    background-image: url(../../gallery/Background/dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.logo_aorus{
    width: 300px;
    padding: 35px 0px 10px 0px;
}
a{
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover{
    text-shadow: 0px 0px 5px rgb(255, 60, 0);
}
.navigation{
    padding: 20px;
    text-align: center;
    font-size: 20px;
    background-color:#333333;
}
.navhome{
    background-color: rgb(255, 60, 0);    
}
.hovernav{
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.hovernav:hover{
    background-color: rgb(255, 60, 0);
}
.isi{
    margin: 0px 200px;
    background-color: rgb(0, 0, 0);
    padding: 40px 0px 10px 0px;
}
/* End Universal */

/* Background Video */
#videoBG {
    position:fixed;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG { 
        width:auto;
        height: 100%;
    }
}
/* End Background Video */

/* Rainbow HR */
hr.rainbowhr{
    border: 0;
    height: 7px;
    margin: 20px 115px 20px 10px;
    background: #ff0000;
    background: linear-gradient(
    -45deg, 
    #ff0000 0%,
    #ffff00 25%,
    #00ff00 50%,
    #00ffff 75%,
    #0000ff 100%);
}
hr.rainbowhr2{
    border: 0;
    height: 7px;
    margin: -25px 0px 40px 0px;
    background: #ff0000;
    background: linear-gradient(
    -45deg, 
    #ff0000 0%,
    #ffff00 25%,
    #00ff00 50%,
    #00ffff 75%,
    #0000ff 100%);
}
/* End Rainbow HR */

/* Zoom */
.imgitem{
    margin: 30px 50px -40px 70px;
    width: 330px;
    padding: 0px 60px;
    border-style: none;
}
.imgitem:hover{
    transition: 100ms;
    transform: scale(1.3); 
}
.imgitem2{
    margin: 10px 700px auto -50px;
    width: 330px;
    padding: 0px 60px;
    border-style: none;
}
.imgitem2:hover{
    transition: 100ms;
    transform: scale(1.3); 
}
/* End Zoom */

/* Product Article */
.judul_container{
    font-size: 21px;
    text-align: center;
    margin-bottom: 50px;
    color: darkorange;
}
.containerimg{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 90px 0px;
    align-items: flex-start;
    justify-content:center;
    padding-bottom: 50px;
}
.containerimg .itemimg{
    width: 40%;
    height: auto;
    margin: 0px 0px;
    text-align: center;
    border-radius: 20px;
}
.containerimg .itemimg2{
    width: 40%;
    height: auto;
    margin: 0px 0px 0px -80px;
    text-align: center;
    border: 5px solid white;
    border-radius: 30px 0px 30px 0px;
    padding: 32px 30px;
    box-shadow: 10px 10px 30px orangered;
}
.containerimg .itemimg img{
    width: 400px;
    margin: -50px auto -50px auto;
    text-align: left;
}
.containerimg .text_container{
    text-align: left;
    padding: auto;
    margin: auto 20px;
    font-size: 21px;
    color: rgb(255, 255, 255);
}
.containerimg .text_container .judul_subtext{
    text-align: left;
    margin: auto 0px 15px 0px;
    font-size: 22px;
    color: cyan;
    cursor: pointer;
}
.containerimg .text_container .isi_subtext{
    text-align: left;
    margin: 5px 0px 15px 0px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
/* EndProduct Article */

/* Slideshow */
.slideshow{
    display:none;
}
.button-49{
  width: 38px;
  height: 19px;
  margin: 0px 10px;
  cursor: pointer;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background:red;
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}
.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}
@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 100px;
    height: 38px;
    line-height: 0px;
  }
}
/* End Slideshow */

/* Back To Top */
#backtotop{
    display: none;
    position: fixed;
    bottom: 50px;
    right: 250px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    scroll-behavior: smooth;
}
#backtotop:hover{
    background-color: #555;
}
/* End Back To Top */

/* Footer */
footer{
    margin-bottom: 0px;
    padding: 25px;
    font-size: 20px;
    background-color:#333333;
}
.containerfooter{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 520px;
    justify-content:space-around;
    box-sizing:border-box;
    border: 3px solid rgb(0, 0, 0, .0);
}
.containerfooter p{
    box-sizing: border-box;
    margin: 0px 0px 15px 20px;
    font-size: 25px;
}
.containerfooter a{
    font-size: 19px;
}
.itemfooter1{
    width: 100px;
    height: auto;
    text-align: center;
    border: 3px solid rgb(0, 0, 0, .0);
}
.itemfooter2{
    width: 160px;
    height: auto;
    text-align: left;
    border: 3px solid rgb(0, 0, 0, .0);
}
.itemfooter3{
    width: 174px;
    height: auto;
    text-align: left;
    border: 3px solid rgb(0, 0, 0, .0);
}
.itemfooter4{
    width: 215px;
    height: auto;
    text-align: left;
    border: 3px solid rgb(0, 0, 0, .0);
}
.containerfooter p{
    width: 100px;
    height: auto;
    text-align: left;
}
.containersocmed{
    display: flex;
    margin: -10px 500px 0px 500px;
    justify-content: center;
}
.containersocmed img{
    width: 30px;
}
/* End Footer */

/* Text */
h1{
    font-size: 45px;
    margin-bottom: 60px;
    text-align: center;
    color: rgb(255, 255, 255);
    animation:lightson .5s ease 3 forwards;
}
@keyframes lightson{
    0%{
        opacity:0;
        text-shadow: 0px 0px 0px rgb(255, 60, 0), 0px 0px 0px rgb(255, 60, 0), 0px 0px 0px rgb(255, 60, 0);
    }
    20%{
        opacity:0.5;
        text-shadow: 0px 0px 2.5px rgb(255, 60, 0), 0px 0px 5px rgb(255, 60, 0), 1px 1px 25px rgb(255, 60, 0);
    }
    40%{
        opacity:0;
        text-shadow: 0px 0px 1px rgb(255, 60, 0), 0px 0px 2px rgb(255, 60, 0), 0px 0px 10px rgb(255, 60, 0);
    }
    50%{
        opacity:1;
        text-shadow: 0px 0px 5px rgb(255, 60, 0), 0px 0px 10px rgb(255, 60, 0), 1px 1px 50px rgb(255, 60, 0);
    }
    100%{
        opacity:1;
        text-shadow: 0px 0px 5px rgb(255, 60, 0), 0px 0px 10px rgb(255, 60, 0), 1px 1px 50px rgb(255, 60, 0);
    }
}
@media(max-width: 1150px){
    h1{
        font-size: 45px;
        padding:10px;
        letter-spacing: 2px;
    }
}
@media(max-width: 789px){
    h1{
        font-size: 45px;
        letter-spacing: 2px;
    }
}
.subjudul{
    font-size: 30px;
    text-align: left;
    margin-bottom: 30px;
    color: rgb(255, 60, 0);
}
.text{
    font-size: 20px;
    text-align: justify;
}
.isi p{
    margin: 20px 115px 20px 10px;
}
li{
    margin: 0px 115px 20px 15px;
    text-align: justify;
}

.image .groupimage1{
    margin-left: -10px;
}
.image .groupimage1 img{
    margin: auto 0px auto 20px;
}