body{
    background-color:rgb(238,125,125);
    font-family:'Times New Roman',Times, serif;
    text-align:center;
}
h1{
    color:rgb(255,255,255);
}
.ketengah{
    margin:10px auto;
    width: 1150px;
}
.kotak{
    background:rgb(255,255,255);
    /* Terserah mau pakai background saja atau background-color */
    padding:20ox;
    width:200px;
    float:left;
    margin:20px;
    height:200px
}
.gradient1{ /* Untuk gradient wajib pakai background saja */
    /* Standard Syntax */
    background:linear-gradient(red,green);
    /* For Safari 5.1 to 6.0 */
    background:-webkit-linear-gradient(red,green);
    /* For Opera 11.1 to 12.0 */
    background:-o-linear-gradient(red,green);
    /* For Mozilla Firefox 3.6 to 15.0 */
    background:-moz-linear-gradient(red,green);
    /* Pakai syntax standard dan lain-lain itu bisa semua, 
    tetapi jika digunakan lebih dari 1 jenis syntax dan didalamnya ada untuk Safari, 
    maka yang lebih diproritaskan ya Safari*/
}
.gradient2{
    /* Standard Syntax */
    background:linear-gradient(left,red,yellow,green);
    /* For Safari 5.1 to 6.0 */
    background:-webkit-linear-gradient(left,red,yellow,green);
    /* For Opera 11.1 to 12.0 */
    background:-o-linear-gradient(left,red,yellow,green);
    /* For Mozilla Firefox 3.6 to 15.0 */
    background:-moz-linear-gradient(left,red,yellow,green);
}
.gradient3{
    /* Standard Syntax */
    background:radial-gradient(red,yellow,green);
    /* For Safari 5.1 to 6.0 */
    background:-webkit-radial-gradient(red,yellow,green);
    /* For Opera 11.1 to 12.0 */
    background:-o-linear-radial(red,yellow,green);
    /* For Mozilla Firefox 3.6 to 15.0 */
    background:-moz-radial-gradient(red,yellow,green);
}
.gradient4{
    /* Standard Syntax */
    background:radial-gradient(circle,red,yellow,green);
    /* For Safari 5.1 to 6.0 */
    background:-webkit-radial-gradient(circle,red,yellow,green);
    /* For Opera 11.1 to 12.0 */
    background:-o-linear-radial(circle,red,yellow,green);
    /* For Mozilla Firefox 3.6 to 15.0 */
    background:-moz-radial-gradient(circle,red,yellow,green);
}