body{
    background-color:rgb(238,125,125);
    font-family:'Times New Roman',Times, serif;
    text-align:center;
}
h1{
    color:rgb(255,255,255);
}
.ketengah{
    margin:10px auto;
    width: 1150px;
}
.tulisan1{
    text-shadow:rgb(0,0,0) 0px 10px 5px;
    /*
    Nilai 20 = Rata kiri kanan bayangan
    Nilai 10 = Tinggi rendah bayangan
    Nilai 5 = Ketebalan bayangan
    */
}
.tulisan2{
    text-shadow:rgb(38,0,255) 0px 0px 20px;
}
.kotak1{
    background:rgb(255,255,255);
    width:300px;
    margin:20px;
    float:left;
    box-shadow:rgb(255,0,0) 20px 30px 40px 10px;
    /*
    Nilai 20 = Rata kiri kanan bayangan
    Nilai 30 = Tinggi rendah bayangan
    Nilai 40 = Radius bayangan
    Nilai 10 = Ketebalan bayangan
    */
}
.kotak2{
    background:rgb(255,255,255);
    width:300px;
    margin:20px;
    float:left;
    box-shadow:rgb(0,26,255) 0px 0px 10px 10px;
}